body {
	background-color: lightgray;
	-webkit-user-select: none;
	/* turning off text selection  / Webkit */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE 10  */
	-o-user-select: none;
	/* Opera */
	user-select: none;
}

#content > h3 {
	margin-left: 70px;
	margin-top: 5px;
	margin-bottom: 8pt;
}

#canvas-holder {
	float: left;
	margin-right: 10px;
	border: 1px solid black;
	background-color: white;
}

canvas {
	display: block;
}

#tools {
	float: left;
	background-color: white;
	border: 1px solid black;
	margin: 0pt;
	padding: 8px
}

#tools h3 {
	margin-top: 0pt;
	margin-bottom: 8pt;
}

#help-content {
	display: none;
	position: fixed;
	left: 1cm;
	right: 1cm;
	top: 38px;
	bottom: 1cm;
	z-index: 20;
	max-width: 800px;
	border: 3px solid #740b0b;
	color: #740b0b;
	background-color: #F5F5DC;
	padding: 8px 15px;
	overflow: auto;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text;
}

#help-content p {
	text-indent: 25px;
}

#help-icon {
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 5
}

#hide-help-icon {
	display: none;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 50;
	display: none
}

#helpBG {
	display: none;
	position: fixed;
	top: 0pt;
	left: 0pt;
	bottom: 0pt;
	right: 0pt;
	z-index: 10;
	background-color: white;
	opacity: 0.75;
}

label {
	margin-left: 3px;
}

.addmargin{
	margin-left: 15px;
}

.stick {
  border-radius: 100%;
  background: #09f;
  width: 80px;
  position: fixed;
  opacity: 0.8;
  z-index: 8888;
  right: 100px;
  bottom: 100px;
}

.joy {
  border-radius: 100%;
  background: #f90;
  position: absolute;
  opacity: 0.8;
  width: 50px;
}

#grand {
  position: absolute;
  width: 120px;
  height: 150px;
  background: #333;
  right: 1000px;
  top: 800px;
}


.inputfile + .fileLabel {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + .fileLabel ,
.inputfile + .fileLabel :hover {
    background-color: red;
}

label{
	font-size: 0.5em;
	font-weight: 200;
}

body{
	margin:0;
	overflow:hidden;
	background-color: black;
}

#tool-bar{
	background: url("./css/pictures/space3.png");
	height: 6rem;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: silver;
} 

.color-label{
	color:rgb(255, 255, 255);
	font-weight: lighter;
}

.inputfile {
	font-size: 1em;
	font-weight: 200;
	color: white; /* color the text */
	background-color: rgb(161, 34, 129); /* color of the box which contain the name the Json file*/
	/*display: inline-block;*/
}

.label1{
	background-color:#ffe1f5;
	font-size: 1.2rem;
	font-weight: 300;
}

.label2{
	background-color: #ffccee;
	font-size: 1.2rem;
	font-weight: 300;
}

.label3{
	background-color:#ff99cc;
	font-size: 1.2rem;
	font-weight: 300;
}

.label4{
	background-color: #ff68ba;
	font-size: 1.2rem;
	font-weight: 300;
}

.label5{
	background-color: #ff5bb7;
	font-size: 1.1rem;
	font-weight: 300;
}