body {
    color: #000;
    font-family:Monospace;
    font-size:15px;
    text-align:center;
    font-weight: bold;
  
   height:100%;
    width:100%;
  
  margin:0;
    overflow:hidden;
  }
  
  #title{
    font-family: Montserrat;
    text-transform : uppercase;
    color:white;
  }
  #couleur{
    
  }
  #div{
    font-size:11pt;
    border-radius: 50%;
    width:50px;
    height:50px;
    background-color:#ffc12d;
     transition:0.2s ease-in ;
  }
  #div2{
    font-size:11pt;
    border-radius: 50%;
    width:50px;
    height:50px;
    background-color:#3e3e3e;
    transition:0.2s ease-in ;
  
  }
  #div3{
    font-size:11pt;
    border-radius: 50%;
    width:50px;
    height:50px;
    background-color:#19b152;
    transition:0.2s ease-in ;
  
  }
  #div4{
    font-size:11pt;
    border-radius: 50%;
    width:50px;
    height:50px;
    background-color:#b1192b;
    transition:0.2s ease-in ;
  
  }
  #div:hover{
    width:58px;
    height:58px;
    
    
  }
  
  #div2:hover{
    color:#3e3e3e;
    text-decoration : underline;
    width:58px;
    height:58px;
  }
  #div3:hover{
    color:#19b152;
    text-decoration : underline;
    width:58px;
    height:58px;
  }
  #div4:hover{
    color:#b1192b;
    text-decoration : underline;
    width:58px;
    height:58px;
  }
  